extends layout

block content
  h1 Welcome to Wakanda
  ul
    each hit in hits
      a(href=hit['jcr:path'])
        img(src=hit.thumbnailMobile)
      h2=hit['jcr:title']
    br
    br
    br
    br
    br
    br
    br
  .container
    .left-side
      .content
        img(src='/images/EnduranceChallenge-callout.jpeg')
        hr
        h3.title THE NORTH FACE ENDURANCE CHALLENGE
        p.text Ready for a challenge? Registration for The North Face Endurance Challenge Series are now open. Find an event in your region and sign up. Don't delay, these events will sell out.
        a(href='https://www.thenorthface.com/content/vfcorp/thenorthface/north-america/en_us/get-outdoors/endurance-challenge.html')
          .button
            | Register Today
    .right-side
      .content
        img(src='/images/ExploreFund-callout.jpeg')
        hr
        h3.title EXPLORE FUND GRANTS
        p.text Explore Fund grants support nonprofit organizations working to inspire and enable the next generation of outdoor explorers and conservationists.  Learn more about the program and its results.   
        a(href='https://www.thenorthface.com/about-us/outdoor-exploration/explore-fund.html')
          .button
            | Learn More
