body {
  font: 14px Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}

.endurance-callout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inner-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  line-height: 65px;
  font-weight: bold;
}

hr {
  margin-left: 9px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side, .right-side {
  border: solid black 2px;
  justify-content: space-between;
}

.title {
  text-align: center;
}

.content {
  border: 5px red dotted;
}

.button {
  background-color: #e72b1d;
  border-color: #be1f14;
  color: white;
  height: 50px;
  margin-left: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 492px;
}

.button:hover {
  background-color: black;
  transition: .5s;
}

.text {
  text-align: center;
}
